@font-face {
    font-family: "Roboto Light";
    src: url("fonts/RobotoLight.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("fonts/RobotoThin.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("fonts/RobotoMedium.ttf");
}

.root {
    -fx-color: -fx-base;
    -fx-accent: #BDBDBD;
    -fx-accent-light: #EFEFEF;
    -fx-base: #1B1B1B;
    -fx-material: #212121;
    -fx-material-light: #373737;
    -fx-content: #FFFFFF;
    -fx-content-light: #EEEEEE;
    -fx-font-family: "Roboto Regular";
}

#nav-box {
    -fx-padding: 0 15 0 15;
    -fx-background-color: -fx-material;
}

#nav-edit .ikonli-font-icon {
    -fx-icon-code: "mdi-pencil";
}

#nav-pick .ikonli-font-icon {
    -fx-icon-code: "mdi-play";
}

#nav-settings .ikonli-font-icon {
    -fx-icon-code: "mdi-settings";
}

#nav-edit,
#nav-pick,
#nav-settings {
    -fx-font: 13px "Roboto Regular";
    -fx-max-height: 48;
    -fx-pref-height: 36;
    -fx-max-width: 5000;
    -fx-text-fill: -fx-content;
    -fx-graphic-text-gap: 16;
    -fx-alignment: center-left;
    -fx-padding: 0 10 0 10;
}

#nav-edit .ikonli-font-icon,
#nav-pick .ikonli-font-icon,
#nav-settings .ikonli-font-icon{
    -fx-icon-color: -fx-content;
}

#back-pane {
    -fx-padding: 15;
    -fx-background-color: -fx-base;
}

#pick-pane {
    -fx-background-color: -fx-material;
    -fx-background-radius: 3px;
    -fx-padding: 15px;
}

#check-bar {
    -fx-spacing: 12px;
    -fx-padding: 0 20 0 10;
    -fx-border-width: 0 2 0 0;
    -fx-border-color: -fx-content-light;
    -fx-alignment: top-center;
}

#check-header {
    -fx-font-family: "Roboto Medium";
    -fx-fill: -fx-content;
}

#checkbox-text {
    -fx-text-fill: -fx-content;
    -fx-font-size: 13px;
}

#pick-go {
    -fx-font: 13px "Roboto";
    -fx-pref-height: 24;
    -fx-max-width: 5000;
    -fx-text-fill: -fx-content;
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;
    -fx-background-color: -fx-material-light;
    -fx-vgap: 15px;
    -fx-hgap: 10px;
}

#output-text {
    -fx-font: 16px "Roboto Medium";
    -fx-fill: -fx-content;
}

/*Edit pane*/

#edit-pane {
    -fx-background-color: -fx-material;
    -fx-background-radius: 3px;
    -fx-padding: 15px;
}

#inline-button,
#inline-button-plus,
#inline-button-plus-type {
    -fx-background-color: -fx-material-light;
    -fx-text-fill: -fx-content;
    -fx-font: 13px "Roboto";
}


#inline-button {
    -fx-pref-width: 100px;
    -fx-pref-height: 28;
}

#inline-button-plus,
#inline-button-plus-type {
    -fx-pref-width: 28;
    -fx-pref-height: 28;
}

#inline-button-plus .ikonli-font-icon,
#inline-button-plus-type .ikonli-font-icon{
    -fx-icon-code: "mdi-plus";
}

#inline-button-plus .ikonli-font-icon {
    -fx-icon-color: -fx-base;
}

#inline-button-plus-type .ikonli-font-icon {
    -fx-icon-color: -fx-content;
}

#inline-button-plus {
    -fx-background-color: -fx-content-light;
}

#inline-dropdown {
    -fx-pref-width: 100px;
    -jfx-focus-color: -fx-content-light;
    -jfx-unfocus-color: -fx-accent;
    -fx-pref-height: 28;
}

#inline-dropdown .list-cell {
    -fx-font: 13px "Roboto";
    -fx-text-fill: -fx-content;
}

.list-view,
.list-view:focused {
    -fx-border-color: TRANSPARENT;
}

.list-view:focused {
    -fx-background-insets: 0, 1;
}

.list-view .list-cell {
    -fx-font-family: "Roboto";
    -fx-background-color: -fx-material;
    -fx-text-fill: -fx-content;
}

.list-view {
    -fx-background-color: -fx-material;
}

#item-list .list-cell{
    -fx-border-width: 0;
    -fx-pref-height: 24px;
}

#context-menu {
    -fx-background-color: #373737;
    -fx-padding: 0 0 5 0;
}

#context-item {
    -fx-padding: 8px 20px 8px 14px;
    -fx-font-family: "Roboto";
}




